POSTGRES_DB=ashmes_marketplaces
POSTGRES_USER=ashmes
POSTGRES_PASSWORD=ashmes_dev_password
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@ashmes.local
PGADMIN_DEFAULT_PASSWORD=admin_dev_password
PGADMIN_PORT=5050

REDIS_PORT=6379

MINIO_ROOT_USER=ashmes_minio
MINIO_ROOT_PASSWORD=ashmes_minio_dev_password
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
