* text=auto eol=lf

*.cs text working-tree-encoding=UTF-8 eol=lf
*.vue text working-tree-encoding=UTF-8 eol=lf
*.ts text working-tree-encoding=UTF-8 eol=lf
*.py text working-tree-encoding=UTF-8 eol=lf
*.json text working-tree-encoding=UTF-8 eol=lf
*.md text working-tree-encoding=UTF-8 eol=lf
*.ps1 text working-tree-encoding=UTF-8 eol=lf
*.sh text working-tree-encoding=UTF-8 eol=lf
